.brief {
  max-width: 984px;
  margin: 56px auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .brief {
    min-width: calc(100vw * (928 / 1024));
  }
}

@media screen and (max-width: 1023px) {
  .brief {
    max-width: 100vw;
  }
}
