.intro {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .intro {
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    font-size: 16px;
    line-height: 163%;
  }
}
