.cover {
  background-image: url("../.././images/cover-trains.jpg");
  max-width: 1184px;
  min-height: calc((740 / 1184) * min(1184px, 100vw));
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cover {
    max-width: 100%;
  }
}
